cookiecutter==2.6.0
sh==2.0.6
watchdog[watchmedo]==4.0.0

# Code quality
# ------------------------------------------------------------------------------
ruff==0.4.1

# Testing
# ------------------------------------------------------------------------------
pytest==8.1.1
pytest-cookies==0.7.0

# X Studios
# ------------------------------------------------------------------------------
pip-freezer==0.3.7
