binaryornot
cookiecutter
sh
watchdog[watchmedo]

# Code quality
# ------------------------------------------------------------------------------
ruff
pre-commit
coverage

# Testing
# ------------------------------------------------------------------------------
pytest
pytest-cookies

# X Studios
# ------------------------------------------------------------------------------
pip-freezer
