# Testing
# ------------------------------------------------------------------------------
pytest
pytest-mock

# Code quality
# ------------------------------------------------------------------------------
ruff  # https://github.com/astral-sh/ruff
coverage  # https://github.com/nedbat/coveragepy
pre-commit  # https://github.com/pre-commit/pre-commit
