# System
*.DS_Store
.python-version

# Python
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor
.vscode/

# Testing leftovers
.coverage
.ruff_cache/
.tox/
htmlcov/
node_modules/

# Project Specific
