include AUTHORS.md
include HISTORY.md
include README.md

recursive-include requirements/ *.txt

recursive-include src/{{ cookiecutter.project_slug }}/data/ *.cfg
# recursive-include src/{{ cookiecutter.project_slug }}/data/ *.ps1
